.heroContainer {
  width: 100vw;
  padding: 20px;
  position: relative;
  display: flex;
  .heroContent {
    position: relative;
    z-index: 9;
    padding: 20px;
  }

  .heroSubtitle {
    padding-bottom: 30px;
  }

  .heroCategories{
    display: flex;
    margin: 0 -15px;
  }
  .heroCategory {
    margin-bottom: 15px;
    padding: 0 15px;
    text-transform: uppercase;
  }

  .heroLinebr {
    width: 80%;
    height: 3px;
    margin: 25px 0;
  }

  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
  }
}

.heroContainerHome {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  &:after {
    height: 100vh;
  }
}
.heroContainerArticle {
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 104px);
  &:after {
    height: calc(100vh - 104px);
  }
}
.heroContainerAbout {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 104px);
  &:after {
    height: calc(100vh - 104px);
  }
  .heroContent{
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .heroContainer {
    padding: 50px;
    .heroContent {
      width: 50vw;
      padding: 50px;
      .heroSubtitle {
        padding-bottom: 50px;
      }
      .heroCategory {
        margin-bottom: 18px;
      }
    }
  }

  .heroContainerAbout{
    .hero-content{
      width: 80vw;
    }
  }
}

@media (min-width: 992px) {
  .heroContainer {
    padding: 50px;
    .heroContent {
      padding: 100px;
      width: 50vw;
      .heroSubtitle {
        padding-bottom: 50px;
      }
    }
  }

  .heroContainerAbout{
    .heroContent{
      width: 80vw;
    }
  }
}
