.iconButton {
  display: flex;
  flex-direction: column;
  border-radius: 0;
  margin: 3px;
  padding: 10px 20px;
  width: calc((100vw / 2) - 20px);
  height: 90px;
  .icon{
    height: 28px;
    svg {
      height: 24px;
      width: auto;
    }
  }
  .buttonText {
    line-height: 1rem;
  }
}
.expandedButton {
  width: 200px;
  margin: 0 10px;
}
.expandedButtonItem {
  display: flex;
  justify-content: space-between;
  width: 200px;
  &.expandOpen{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
