.myInfoContainer {
  display: flex;
  justify-content: center;
}

.myInputContainer {
  display: grid;
  margin-bottom: 10px;
  gap: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

@media only screen and (min-width: 992px) {
  .myInfoContainer {
    padding: 76px 0 76px 76px;
  }
  .buttonsContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
