@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

$primary: #262e36;
$secondary: #b12009;
$tertiary: #cfc36f;

$text: #000;
$text-muted: rgba(0, 0, 0, 0.4);

$grey: #eaeaea;
$white: #fff;

$font: "Noto Sans JP", sans-serif;
