@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Noto Sans JP", sans-serif;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

img {
  height: auto;
}
