@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  height: auto;
}

main {
  min-height: 100vh;
  &#blog,
  &#donate,
  &#events,
  &#faq,
  &#login,
  &#personalArea,
  &#signup,
  &#notFound,
  &#resetPassword,
  &#confirmDonation {
    padding-top: calc(104px + 20px);
  }
  &#about,
  &#support,
  &#article {
    padding-top: 104px;
  }
}

.sectionContainer {
  padding: 20px;
}

h1 {
  padding-bottom: 10px;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: rotate 1s ease-out infinite;
}

@media (min-width: 768px) {
  h1 {
    padding-bottom: 20px;
  }
  main {
    &#blog,
    &#donate,
    &#events,
    &#faq,
    &#login,
    &#personalArea,
    &#signup,
    &#notFound,
    &#resetPassword,
    &#confirmDonation {
      padding-top: calc(104px + 50px);
    }
  }
  .sectionContainer {
    padding: 50px;
  }
  .loader {
    height: 100px;
    width: 100px;
  }
}

.children-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-ellipsis-event {
  width: 290px;
}
.text-ellipsis-article {
  width: 310px;
}

@media (min-width: 992px) {
  main {
    &#blog,
    &#donate,
    &#events,
    &#faq,
    &#login,
    &#personalArea,
    &#signup,
    &#notFound,
    &#resetPassword,
    &#confirmDonation {
      padding-top: calc(104px + 100px);
    }
  }
  .sectionContainer {
    padding: 100px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrowButton {
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
  &.scrollToTopButton {
    bottom: 20px;
    right: 20px;
  }
  &.goBackButton {
    top: 124px;
    left: 20px;
  }
  &:hover {
    transform: scale(105%);
  }
}

@media only screen and (min-width: 992px) {
  .arrowButton {
    &.goBackButton {
      left: 50px;
    }
  }
}

.mediaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  &.mediaCardArticle{
    height: 250px;
  }
  &.mediaArticle{
    height: 300px;
    margin: 20px 0;
  }
  &.mediaCorrelatedArticle{
    height: 80px;
    width: 80px;
  }
  img{
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .mediaContainer{
    &.mediaCorrelatedArticle{
      height: 120px;
      width: 120px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .mediaContainer{
    &.mediaArticle{
      height: 600px;
      margin: 50px 0;
    }
    &.mediaCorrelatedArticle{
      height: 150px;
      width: 150px;
    }
  }
}
